{% extends 'base.html' %}
{% block content %}

<!-- <select onchange="test(this)">
    {% for i in data %}
    <option value="{{i.name}}">{{i.name}}</option>
    {% endfor %}
</select> -->
<div class="container m-5 ">
<h3 class="text-center" >Add lead</h3>
<form action="{{url_for('site.site_data')}}" method="post"  class="col-8 mx-auto"  >
<div class="form-group mt-3">
<textarea name="others"  class="form-control w-100 h-50" placeholder="{ &quot key &quot = &quot value &quot }" >
</textarea>
</div>
<div class="form-group mt-3 text-center">
    <input type="submit" class="btn theme_color text-light">
</div>
</form>
</div>
{% endblock %}