manual_test
phase_2
storage/*
test
__pycache__
.pytest_cache
.vscode
browser.log
.gitignore
.git
execution.log
gunicorn.log
gunicorn_error.log
new_all_sites.py
README.py
site_data.json
zohodata.json
lead_automation_v1.zip
notes.txt

.env
logs
storage
venv
