#driver
# geckodriver

#pythoncache
*.pyc
__pycache__
.pytest_cache


#storage
storage

#environment
genv
/manual_test/
# .vscode

#logger
system.log

#key
cert.pem
key.pem

geckodriver.log

storage
ngrok
domain.crt
.vscode/launch.json
domain.csr
domain.key
.vscode/launch.json
.vscode/launch.json
test/zoho_upload.py
t
gunicorn.log
gunicorn_error.log
browser.log
execution.log
lead_automation_v1.zip
Site_col.json
