<link rel="stylesheet" href="style.css">
<!-- <!doctype html>
<html>
   <body> -->
   
{% extends "base.html" %}
{% block content%}
      
<table class="table">
   <tr>
      <th>No</th>
      <th>LEADID</th>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Project Enquired for</th>
      <th>Interested Properties</th>
      <th>created_time</th>
      <th>source</th>
   </tr>
   
   {% for x in x %}
      <tr>
         <td>{{loop.index}}</td>
         <td>{{x["lead_id"]}}</td>
         <td>{{x["name"]}}</td>
         <td>{{x["phone"]}}</td>
         <td>{{x["email"]}}</td>
         <td>{{x["project_enquired_for"]}}</td>
         <td>{{x["interested_properties"]}}</td>
         <td>{{x['created_time']}}</td>	
         <td>{{x['source']}}</td>
      </tr>
   {% endfor %}
</table>

{% endblock %}

      
      <!-- <a href = "/upload">Go back to home page</a>
      
   </body>
</html> -->