<!-- <!doctype html>
<html>
   <body> -->
   
{% extends "base.html" %}
{% block content%}
      
<table border = 1>
   <thead>
      <td>LEADID</td>
      <td>Full Name</td>
      <td>Phone</td>
      <td>Email</td>
      <td>Project Enquired for</td>
      <td>Interested Properties</td>
      <td>created_time</td>
      <td>source</td>
   </thead>
   
   {% for x in x %}
      <tr>
         <td>{{x["lead_id"]}}</td>
         <td>{{x["name"]}}</td>
         <td>{{x["phone"]}}</td>
         <td>{{x["email"]}}</td>
         <td>{{x["project_enquired_for"]}}</td>
         <td>{{x["interested_properties"]}}</td>
         <td>{{x['created_time']}}</td>	
         <td>{{x['source']}}</td>
      </tr>
   {% endfor %}
</table>

{% endblock %}

      
      <!-- <a href = "/upload">Go back to home page</a>
      
   </body>
</html> -->