{% extends "base.html" %}
{% block content%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lead Automation</title>
  </head>
  <body>
    <main>
        <h1>Project_Enquired</h1>  
    </main>
    <form action = "http://automation.example.com/lead/error_retry" method ="POST" enctype = "multipart/form-data">
        <label>Project_Name:</label><br>
        <input type="text" name="projectname"/><br>
        <br><label>Phone Number:</label><br>
        <input type="text" name="phone_no"/><br>
        <br><input type="submit" value="submit"/>
    </form>
  </body>
</html>
{% endblock %}