{% extends "base.html" %}
{% block content%}
<style>
    .multiline{
    white-space: pre-wrap;
    }
</style>

<table class="table">
<tr>
    <th>No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Created_at</th>
    <th>Project Name</th>
    <th>Matched Keywords</th>
</tr>

{% for i in data %}

<tr>
    <td>{{loop.index}}</td>
    <td> {{ i.name }}</td>
    <td> {{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.created_at }}</td>
    <td class = "commaSeparated">{{i.project}}</td>
    <td>{{ i.match_keywords }}</td>
</tr>

{% endfor %}
</table>
<script>
    var allTheData = document.querySelector('.commaSeparated').textContent.trim().split(',');
    var separateList = '<ul>';
    allTheData.forEach(function(value) {
       separateList += '<li>' + value + '</li>';
    });
    separateList += '</ul>';
    document.querySelector(".commaSeparated").innerHTML = separateList;
 </script>
 <!-- <script>
    var str = document.querySelector('.commaSeparated');
    var strArr = str.split(',');
    var data = "";
    for(var i=0; i<strArr.length; i++){
        data += strArr[i] + "<br/>"
    }
    document.getElementsByClassName(".commaSeparated").innerHTML = data; -->
 </script>
{% endblock %}
